body {
  font-family: Arial, sans-serif;
  background-color: #181818;
  color: #d8d8d8;
  margin: 50px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
}

h1 {
  color: #00d47a;
  margin-bottom: 0.2rem;
  margin-left: 20px;
}

h2 {
  color: #d8d8d8;
  font-weight: normal;
  margin-bottom: 1rem;
  margin-left: 20px;
  text-align: left;
  max-width: 800px;
}

.container {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

#addMovieForm {
  background-color: #282828;
  color: #d8d8d8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 33%;
  box-sizing: border-box;
  align-self: flex-start;
  height: auto;
}

.movieList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 67%;
  box-sizing: border-box;
  margin-left: 50px;
  padding: 0;
}

.movie-card {
  background-color: #282828;
  color: #d8d8d8;
  padding: 20px;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #404040;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #d8d8d8;
}

input,
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #202020;
  color: #d8d8d8;
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00d47a;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #00b562;
}

button.delete {
  background-color: #ff3b30;
}

button.delete:hover {
  background-color: #e60000;
}

#rating {
  display: flex;
  margin-bottom: 10px;
}

#rating .fa-star {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  margin: 0 2px;
}

#rating .fa-star.checked {
  color: #ffcc00;
}

.movie-rating {
  display: flex;
  margin-bottom: 10px;
}

.movie-rating .fa-star {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  margin: 0 2px;
}

.movie-rating .fa-star.checked {
  color: #ffcc00;
}
